.content-width {
    max-width: 980px;
}

.hero-height {
    max-height: 680px;
}

.carousel .carousel-item {
    height: 680px;
}
  
.carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      max-height: 680px;
}

.subheader {
    height: 75px;
}

.bg-blue {
    background-color: #55a2a6;
}

.footer {
    height: 176px;
}

.icon {
    font-size: 72px;
}

.quote {
    border-left: 5px solid #55a2a6;
    padding: 20px 24px 8px 24px;
    
}

.quote-name {
    color:#55a2a6;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
}

.zero-rounded {
    border-radius: 0px;
}

.nav-link.active {
    font-weight: 700;
    border-bottom: 3px solid #55a2a6 !important;
}

